@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primer-color:#55AD9B;
    --segundo-color:#95D2B3;
    --tercer-color:#D8EFD3;
    --cuarto-color:#F1F8E8;
    --color-opcional-negro:#000000;
    --color-opcional-blanco:#f6f6f6;
    --font-size-extra-grande:3rem;
    --font-size-grande:2rem;
    --font-size-mediano:1.5rem;
    --font-size-chico:1rem;
    --font-size-extra-chico:0.75rem;
    --font-family:"Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
   /* height: 100vh; */
    background-color: rgb(136, 136, 208);
}

/* .header{

    background-color: var(--primer-color);
}

.header-logo{

}esto lo edite compuchiquita */

.main{
    background-color:var(--cuarto-color);
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    height: 100vh;
    padding: 3%;
}
.main-sec1{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    /* background-color: rgb(196, 166, 224); */
    width: 45%;
    /* height: 100%; */

    padding:8% 0 2% 0;
    /* border-radius: 32px; */

}

.sec1-entrada-text{
    background-color: transparent;
    width: 100%;
    height: 350px;
    font-family:var(--font-family) ;
    font-size: var(--font-size-grande);
    outline: none;
    resize: none;
    border: none;
}

.sec1-entrada-text::placeholder {
    color: var(--primer-color);
}

.sec1-div-info-btn{
    display: flex;
    flex-direction: column;

}

.div1-reglas{

    display: flex;

} 


.div1-text-reglas{
    font-family: var(--font-family);
    font-size: var(--font-size-extra-chico);
    display: flex;
    align-items: center;
}

.material-icons{
    color: var(--primer-color);
}

.div2-botones{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 2.7% 0 0 0 ;

}

.div2-btn-encrip{
    flex: 1;
    font-size: var(--font-size-extra-chico);
    /* width: 328px; */
    padding: 24px 0;
    border-radius: 24px;
    border: 1px solid var(--primer-color);
    width: 50%;
    background-color: transparent;
    /* color: var(--primer-color);esto lo edite compuchiquita */
}

.div2-btn-encrip:hover{
    background-color: var(--primer-color);
    color: var(--cuarto-color);
}

.div2-btn-desencrip{
    flex: 1;
    font-size: var(--font-size-extra-chico);
    /* width: 328px;  */
    padding: 24px 0;
    border-radius: 24px;
    border: 1px solid var(--primer-color);
    width: 50%;
    background-color: transparent;
    /* color: var(--primer-color);esto lo edite compuchiquita */
}

.div2-btn-desencrip:hover{
    background-color:var(--segundo-color);
    color: var(--cuarto-color);
}

.main-sec2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--segundo-color);
    width:30% ; 
    /* height: 100%; */
    padding: 2%;
    border-radius: 32px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.sec2-salida-tex{
    background-image: url(../images/Muñeco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: transparent;
    width: 100%;
    height: 350px;
    font-family: var(--font-family);
    font-size: var(--font-size-mediano);
    /* padding: 0  0 12% 0; */
    outline: none;
    resize: none;
    border: none;
    
}

.sec2-div1-text-info{
    padding: 1%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color:var(--cuarto-color);
}

.div1-titulo{
    text-align: center;
    font-size: var(--font-size-mediano);
    margin-bottom: 1%;
}

.div1-parrafo{
    text-align: center;
    font-size: var(--font-size-chico);
}

.sec2-div-boton{
    display: flex;
    justify-content: center;
}

.div-btn-copiar{
    flex: 1;
    font-size: var(--font-size-chico);
    /* width: 336px;  */
    padding: 24px 0;
    border-radius: 24px;
    border: 1px solid var(--cuarto-color);
    width: 50%;
    background-color: transparent;
    /* color: var(--cuarto-color);esto lo edite compuchiquita */
}

.div-btn-copiar:hover{
    background-color:var(--tercer-color);
    color: var(--primer-color);
}

.footer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* background-color: var(--primer-color);esto lo edite compuchiquita */
}

.div-footer{
   display: flex;
   gap: 50px;
}

.enlace-footer{
    color:var(--cuarto-color);
    /* background-color: aliceblue; */
    /* padding: 15%; */
    /* margin: 5%; */
    border-radius: 24px;
}
.parrafo-footer{
    color: var(--cuarto-color);
    font-family: var(--font-family);
    font-size:var(--font-size-extra-chico) ;
}