@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primer-color:#070709;
    --segundo-color:#10fee2;
    --tercer-color:#f6f6f6;
    --cuarto-color:#2a95bf;
    --color-opcional-1:#f6f6f618;
    --color-transparente:transparent;
    --size-extra-grande:3rem;
    --size-grande:2rem;
    --size-mediano:1.5rem;
    --size-chico:1rem;
    --size-extra-chico:0.75rem;
    --font-family:"Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primer-color);
    font-family: var(--font-family);
}
/*------------------------------ ENCABEZADO ---------*/
.header{
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: var(--primer-color);
}

.header-logo{

}

/*------------------------------ PRINCIPAL ---------*/

.main{
    background-size: cover;
    filter: grayscale(100%);
    background-position:center ;
    background-repeat: no-repeat;
    background-image: url(../images/fondo-city.jpg);
    /* background-color:var(--segundo-color); */
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 80px;
    padding: 2%;
}

/*--------------------------------- SECCION 1 --------------------------------------*/

.main-sec1{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: transparent; */
    max-width: 680px;
    max-height: 944px;
    padding:0 0 2% 0;
}

/*------------------------------ ENTRADA AREA DE TEXTO ---------*/
.sec1-entrada-text{
    background-color: transparent;
    width: 100%;
    max-height: 300px;
    font-family:var(--font-family) ;
    font-size: var(--size-grande);
    outline: none;
    resize: none;
    border: none;
    color: var(--tercer-color);
}

.sec1-entrada-text::placeholder {
    color: var(--tercer-color);
}

.sec1-div-info-btn{
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.div1-reglas{

    display: flex;

} 


.div1-text-reglas{
   
    font-size: var(--size-extra-chico);
    display: flex;
    align-items: center;
    color: var(--tercer-color);
}

.material-icons{
    color: var(--segundo-color);
}

/*------------------------------ BOTONES SECCION 1 (ENCRIPTADO, DESENCRIPTADO)--------------------------------------*/

.div2-botones{
    display: flex;
    justify-content: center;
    gap: 24px;
    max-height: 67px;
    
}

.div2-btn-encrip{
    flex: 1;
    padding: var(--size-mediano) 0;
    border-radius: 24px;
    border: 1px solid var(--segundo-color);
    background-color: transparent;
    color: var(--tercer-color);
    font-size: var(--size-chico);
}

.div2-btn-encrip:hover{
    /* background-color: var(--cuarto-color); */
    color: var(--segundo-color);
}

.div2-btn-desencrip{
    flex: 1;
    font-size: var(--size-chico);
    padding: var(--size-mediano) 0;
    border-radius: 24px;
    border: 1px solid var(--segundo-color);
    background-color: transparent;
    color: var(--tercer-color);
}

.div2-btn-desencrip:hover{
    /* background-color:var(--cuarto-color); */
    color: var(--segundo-color);
}

/*------------------------------ SECCION 2 --------------------------------------*/

.main-sec2{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--color-opcional-1);
    /* background-color:var(--primer-color); */
    max-width:400px ; 
    max-height: 944px;
    padding: 2%;
    border-radius: 32px;
    box-shadow: 0 0px 15px 0 var(--segundo-color), 0 0px 15px 0 var(--tercer-color);
    /* box-shadow: 0 8px 15px 0 var(--segundo-color), 0 6px 10px 0 var(--tercer-color); */
}

/*--------------------------------- SALIDA DE AREA TEXTO --------------------------------------*/

.sec2-salida-tex{
    display: block;
    background-image: url(../images/escudo-verde-agua.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--color-transparente);
    width: 100%;
    max-height: 350px;
    font-family: var(--font-family);
    font-size: var(--size-mediano);
    outline: none;
    resize: none;
    border: none;
    color:var(--tercer-color);
}

.sec2-div1-text-info{
    max-width: 336px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color:var(--tercer-color);
}

.div1-titulo{
    text-align: center;
    font-size: var(--size-mediano);
}

.div1-parrafo{
    text-align: center;
    font-size: var(--size-chico);
}

/*------------------------------ BOTON SECCION 2 (COPIAR) --------------------------------------*/

.sec2-div-boton{
    display: flex;
    justify-content: center;
}

.div-btn-copiar{
    display: none;
    max-height: 67px;
    width: 336px;
    flex: 1;
    font-size: var(--size-chico);
    padding: var(--size-mediano) 0;
    border-radius: 24px;
    border: 1px solid var(--segundo-color);
    background-color: var(--color-transparente);
    color: var(--tercer-color);
}

.div-btn-copiar:hover{
    /* background-color:var(--cuarto-color); */
    color: var(--segundo-color);
}

/*------------------------------ PIE DE PAGINA --------------------------------------*/

.footer{
    padding: 1%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1;  */
    align-items: center;
    background-color: var(--primer-color);
}

.div-footer{
    
   display: flex;
   gap: 50px;
  
}

.enlace-footer{
    color:var(--tercer-color); 
    padding:3% ;
}

.enlace-footer:hover{
    
    border-radius:15px ;
    outline: 1px solid var(--tercer-color);
}

.parrafo-footer{
    color: var(--tercer-color);
    font-size:var(--size-extra-chico) ;
}

@media (max-width: 768px) {
    .header {
        flex-grow: 0;
    }

    .main {
        max-height: none;
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .main-sec1 {
        width: 100%;
        max-width: none;
        max-height: none;
        padding: 0;
        display: inline;
    }

    .sec1-entrada-text {
        max-height: 210px;
    }

    .main-sec2 {
        display: inline;
        width: 100%;
        max-width: none;
        max-height: 100%;
        box-shadow: none;
    }

    .sec2-salida-tex {
        display: none;
        background-image: none;
        max-height: 200px;
    }

    .sec2-div1-text-info{
        max-width: none;
    }

    .div-btn-copiar {
        display: none;
    }

    .footer{
        flex-grow: 0;
    }
}

@media (max-width: 425px) {
    .header{
        height: 60px;
        /* flex-grow: 1; */
    }

    .header-logo{
        max-height: 30px;
    }

    .main {
        gap: 40px;
    }

    .sec1-entrada-text {
        max-height: 170px;
    }

    .sec2-salida-tex {
        max-height: 175px;
    }

    .div2-botones {
        max-height: none;
        flex-direction: column;
        gap: 18px;
    }

    .div2-btn-encrip, .div2-btn-desencrip {
        padding: var(--size-chico) 0;
    }
    .footer{
        gap: 0; 
        padding: 0;
    }

    .parrafo-footer{
        text-align: center;
    }
}